<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="smarthome" content="lvtn-mmt-2019">
	<title>Xây Dựng Ngôi Nhà Thông Minh</title>
	<link href="{{static_url("css/iot-theme-bundle.min.css")}}" rel="stylesheet">
</head>
<body>
    <div id="iot-preloader">
        <div class="center-preloader d-flex align-items-center">
            <div class="spinners">
                <div class="spinner01"></div>
                <div class="spinner02"></div>
            </div>
        </div>
    </div>
    
    <div id="wrapper" class="hidden">
        <nav class="navbar navbar-expand fixed-top d-flex flex-row justify-content-start">
            <div class="d-none d-lg-block">
                <form>
                    <div id="menu-minifier">
                        <label>
                            <svg width="32" height="32" viewBox="0 0 32 32">
                                <rect x="2" y="8" width="4" height="3" class="menu-dots"></rect>
                                <rect x="2" y="15" width="4" height="3" class="menu-dots"></rect>
                                <rect x="2" y="22" width="4" height="3" class="menu-dots"></rect>
                                <rect x="8" y="8" width="21" height="3" class="menu-lines"></rect>
                                <rect x="8" y="15" width="21" height="3" class="menu-lines"></rect>
                                <rect x="8" y="22" width="21" height="3" class="menu-lines"></rect>
                            </svg>
                            <input id="minifier" type="checkbox"> 
                        </label>
                        <div class="info-holder info-rb">
                            <div data-toggle="popover-all" data-content="Checkbox element using localStorage to remember the last status." data-original-title="Side menu narrowing" data-placement="right"></div>
                        </div>
                    </div>
                </form>
            </div>
            <a class="navbar-brand px-lg-3 px-1 mr-0" href="/home">iHome</a>
            <div class="ml-auto">
                <div class="navbar-nav flex-row navbar-icons">
                    <div id="user-menu" class="nav-item dropdown">
                        <button class="btn btn-link nav-link dropdown-toggle" title="User" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg class="icon-sprite"><use xlink:href="{{static_url("images/icons-sprite.svg#user")}}"/></svg>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/login">Logout</a>
                        </div>
                    </div>
                    <div class="nav-item d-lg-none">
                        <button id="sidebar-toggler" type="button" class="btn btn-link nav-link" data-toggle="offcanvas">
                          <svg class="icon-sprite"><use xlink:href="{{static_url("images/icons-sprite.svg#menu")}}"/></svg>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="wrapper-offcanvas">
            <div class="row-offcanvas row-offcanvas-left">
                <div id="sidebar" class="sidebar-offcanvas">
                    <ul class="nav flex-column nav-sidebar">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">
                                <svg class="icon-sprite"><use xlink:href="{{static_url("images/icons-sprite.svg#home")}}"/></svg> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/lights">
                                <svg class="icon-sprite"><use xlink:href="{{static_url("images/icons-sprite.svg#bulb-eco")}}"/></svg> Lights
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/automatic">
                                <svg class="icon-sprite"><use xlink:href="{{static_url("images/icons-sprite.svg#appliances")}}"/></svg> Automatic
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active" href="/climate">
                                <svg class="icon-sprite"><use xlink:href="{{static_url("images/icons-sprite.svg#thermometer")}}"/></svg> Climate
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Side menu END -->
                <!-- Main content START -->
                <div id="main">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="card active" data-unit="fan-living-room">
                                    <ul class="list-group borderless">
                                        <li class="list-group-item align-items-center">
                                            <svg class="icon-sprite icon-1x">
                                                <use xlink:href="{{static_url("images/icons-sprite.svg#fan")}}"/>
                                            </svg>
                                            <h5>Living room</h5>
                                            <label class="switch ml-auto checked">
                                                <input type="checkbox" id="fan-living-room" checked>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="card active" data-unit="fan-bed-room">
                                    <ul class="list-group borderless">
                                        <li class="list-group-item align-items-center">
                                            <svg class="icon-sprite icon-1x">
                                                <use xlink:href="{{static_url("images/icons-sprite.svg#fan")}}"/>
                                            </svg>
                                            <h5>Bedroom</h5>
                                            <label class="switch ml-auto checked">
                                                <input type="checkbox" id="fan-bed-room" checked>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <hr class="my-2">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Outdoor temperature</h4>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <div class="card active" data-unit="temperature-humidity-bedroom">
                                            <ul class="list-group borderless">
                                                <li class="list-group-item align-items-center">
                                                    <svg class="icon-sprite icon-1x">
                                                        <use xlink:href="{{static_url("images/icons-sprite.svg#thermometer-tiny")}}"/>
                                                    </svg>
                                                    <h5>Bedroom</h5>
                                                    <label class="switch ml-auto checked">
                                                        <input type="checkbox" id="temperature-humidity-bedroom" checked>
                                                    </label>
                                                </li>
                                            </ul>
                                            <div class="only-if-active">
                                                <hr class="my-0">
                                                <ul class="list-group borderless px-1 align-items-stretch">
                                                    <li class="list-group-item">
                                                        <p class="specs mr-auto mb-auto">Temperature - Humidity</p>
                                                    </li>
                                                    <li class="list-group-item d-flex flex-column pb-4">
                                                        <p class="mr-auto mt-2 mb-0 display-5">
                                                            <span class="room-temp-F" id="temperature"></span><sup>°c</sup>
                                                        </p>
                                                        <p class="mr-auto mt-2 mb-0 lead text-primary">
                                                            <span class="room-temp-C" id="humidity"></span><sup>%</sup>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-0">
                                    <div class="card-body">
                                        <div id="chart02" class="ct-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cover-offcanvas" data-toggle="offcanvas"></div>
                </div>
            </div>
        </div>
    </div>

    <svg id="svg-tool" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <style type="text/css">.glow circle {fill:url(#radial-glow)}</style>
            <filter id="blur" x="-25%" y="-25%" width="150%" height="150%">
                <feGaussianBlur in="SourceGraphic" stdDeviation="3"/>
            </filter>
            <radialGradient id="radial-glow" fx="50%" fy="50%" r="50%">
                <stop offset="0" stop-color="#0F9CE6" stop-opacity="1"/>
                <stop offset="1" stop-color="#0F9CE6" stop-opacity="0" />
            </radialGradient>
        </defs>
    </svg>

    <!-- jQuery -->
    <script src="{{static_url("js/jquery-3.3.1.min.js")}}"></script>

    <!-- Bootstrap bundle -->
    <script src="{{static_url("js/bootstrap.bundle.min.js")}}"></script>

    <!-- Cross browser support for SVG icon sprites -->
    <script src="{{static_url("js/svg4everybody.min.js")}}"></script>

    <!-- jQuery range-slider plugin (Dimmers, Fridge temperature) -->
    <script src="{{static_url("js/iot-range-slider.min.js")}}"></script>

    <!-- Basic theme functionality (arming, garage doors, switches ...) - using jQuery -->
    <script src="{{static_url("js/iot-functions.min.js")}}"></script>

    <!-- Chartist.js library - NO jQuery dependency -->
    <script src="{{static_url("js/chartist.min.js")}}"></script>

    <script>
        $(document).ready(function () {
            if (localStorage) {
                var checkboxValue = localStorage.getItem('minifier');
                if (checkboxValue === 'true') {
                    $('#sidebar,#menu-minifier').addClass('mini');
                    $('#minifier').prop('checked', true);
                } else {
                    if ($('#minifier').is(':checked')) {
                        $('#sidebar,#menu-minifier').addClass('mini');
                        $('#minifier').prop('checked', true);
                    } else {
                        $('#sidebar,#menu-minifier').removeClass('mini');
                        $('#minifier').prop('checked', false);
                    }
                }
                // Switch statuses
                dataClimate = '{% raw data %}';
                localStorage.setItem('switchValues', dataClimate);
                var switchValues = JSON.parse(localStorage.getItem('switchValues'));
                $.each(switchValues, function (key, value) {
                    if ($('[data-unit="' + key + '"]').length) {
                        if (value === "on") {
                            $('[data-unit="' + key + '"]').addClass("active");
                            $("#" + key).prop('checked', true);
                            $("#" + key).closest("label").addClass("checked");
                        } else {
                            $('[data-unit="' + key + '"]').removeClass("active");
                            $("#" + key).prop('checked', false);
                            $("#" + key).closest("label").removeClass("checked");
                        }
                    }
                });
            }

            $('input').on("click", function () {
                if ($(this).is(':checked')) {
                    $.ajax({
                        url: '/onoffdevice',
                        type: 'POST',
                        data: {key: ($(this).attr('id')), value: "on",},
                        success: function (response) {
                        }
                    });

                    if (($(this).attr('id')) === "temperature-humidity-bedroom") {
                        reloadPage = setInterval(function () {
                            $.ajax({
                                type: 'GET',
                                url: '/climate/reload',
                                success: function (response) {
                                    var dataTH = JSON.parse(response);
                                    document.getElementById("temperature").innerHTML = dataTH["temperature"];
                                    document.getElementById("humidity").innerHTML = dataTH["humidity"];
                                }
                            })
                        }, 2000);

                        reloadChart = setInterval(function () {
                            $.ajax({
                                type: 'GET',
                                url: '/climate/reloadchart',
                                success: function (response) {
                                    var dataChart = JSON.parse(response);
                                    var data02 = dataChart["chart"];
                                    var options02 = {
                                        height: 340,
                                        high: 100,
                                        low: 0,
                                        scaleMinSpace: 12,
                                        onlyInteger: false,
                                        referenceValue: 0,
                                        showArea: true,
                                        showPoint: false,
                                        fullWidth: true
                                    };
                                    var responsive_steps02 = [
                                        ['screen and (max-width: 768px)', {
                                            axisX: {
                                                labelInterpolationFnc: function skipLabels(value, index, labels) {
                                                    return index % 2 === 0 ? value : null;
                                                }
                                            }
                                        }],
                                        ['screen and (max-width: 480px)', {
                                            axisX: {
                                                labelInterpolationFnc: function skipLabels(value, index, labels) {
                                                    return index % 4 === 0 ? value : null;
                                                }
                                            }
                                        }]
                                    ];
                                    new Chartist.Line('#chart02', data02, options02, responsive_steps02)
                                        .on('draw', function (data02) {
                                            if (data02.type === 'bar' && data02.value.y > 0) {
                                                data02.element.attr({
                                                    class: 'ct-bar abovezero'
                                                });
                                            }
                                        });
                                }
                            })
                        }, 2000);
                    }
                } else {
                    $.ajax({
                        url: '/onoffdevice',
                        type: 'POST',
                        data: {key: ($(this).attr('id')), value: "off",},

                        success: function (response) {
                        }
                    });
                }
            });

            // Range Slider values
            var rangeValues = JSON.parse(localStorage.getItem('rangeValues')) || {};

            // Contract/expand side menu on click. (only large screens)
            $('#minifier').click(function() {
                $('#sidebar,#menu-minifier').toggleClass('mini');
                // Save side menu status to localStorage if available (IE)
                if (localStorage) {
                    checkboxValue = this.checked;
                    localStorage.setItem('minifier', checkboxValue);
                }
            });

            // Side menu toogler for medium and small screens
            $('[data-toggle="offcanvas"]').click(function() {
                $('.row-offcanvas').toggleClass('active');
            });

            // Switch (checkbox element) toogler
            $('.switch input[type="checkbox"]').on("change", function(t) {
                // Check the time between changes to prevert Android native browser execute twice
                // If you dont need support for Android native browser - just call "switchSingle" function
                if (this.last) {
                    this.diff = t.timeStamp - this.last;

                    // Don't execute if the time between changes is too short (less than 250ms) - Android native browser "twice bug"
                    // The real time between two human taps/clicks is usually much more than 250ms"
                    if (this.diff > 250) {
                        this.last = t.timeStamp;
                        iot.switchSingle(this.id, this.checked);
                    } else {
                        return false;
                    }
                } else {
                    // First attempt on this switch element
                    this.last = t.timeStamp;
                    iot.switchSingle(this.id, this.checked);
                }
            });

            // Reposition to center when a modal is shown
            $('.modal.centered').on('show.bs.modal', iot.centerModal);

 {#           // Alerts "Close" callback - hide modal and alert indicator dot when user closes all alerts
            $('#alertsModal .alert').on('close.bs.alert', function () {
                var sum = $('#alerts-toggler').attr('data-alerts');
                sum = sum - 1;
                $('#alerts-toggler').attr('data-alerts', sum);
                if (sum === 0) {
                    $('#alertsModal').modal('hide');
                    $('#alerts-toggler').attr('data-toggle', 'none');
                }
            });

            // Show/hide tips (popovers) - FAB button (right bottom on large screens)
            $('#info-toggler').click(function () {

                if ($('body').hasClass('info-active')) {
                    $('[data-toggle="popover-all"]').popover('hide');
                    $('body').removeClass('info-active');
                } else {
                    $('[data-toggle="popover-all"]').popover('show');
                    $('body').addClass('info-active');
                }
            });

            // Hide tips (popovers) by clicking outside
            $('body').on('click', function (pop) {

                if (pop.target.id !== 'info-toggler' && $('body').hasClass('info-active')) {
                    $('[data-toggle="popover-all"]').popover('hide');
                    $('body').removeClass('info-active');
                }

            });

        });#}

            // Apply necessary changes, functionality when content is loaded
            $(window).on('load', function () {
                // This script is necessary for cross browsers icon sprite support (IE9+, ...)
                svg4everybody();
                // "Timeout" function is not neccessary - important is to hide the preloader overlay
                setTimeout(function () {
                    // Hide preloader overlay when content is loaded
                    $('#iot-preloader,.card-preloader').fadeOut();
                    $("#wrapper").removeClass("hidden");
                    // Initialize range sliders
                    $('input[type="range"]').rangeslider({
                        polyfill: false,
                        onSlideEnd: function (position, value) {
                            var rangeValues = JSON.parse(localStorage.getItem('rangeValues')) || {};
                            // Update localStorage
                            if (localStorage) {
                                rangeValues[this.$element[0].id] = value;
                                localStorage.setItem("rangeValues", JSON.stringify(rangeValues));
                            }
                        }
                    });
                    // Check for Main contents scrollbar visibility and set right position for FAB button
                    iot.positionFab();
                }, 800);
            });
            // Apply necessary changes if window resized
            $(window).on('resize', function () {
                // Modal reposition when the window is resized
                $('.modal.centered:visible').each(iot.centerModal);
                // Check for Main contents scrollbar visibility and set right position for FAB button
                iot.positionFab();
            });
    </script>
</body>

</html>